html {
    overflow-x: hidden;
}

/* ====typography */
body {
    font-family: 'Montserrat';
    background-color: #fff;
}

.body-o {
    background-color: #f8f8f8;
}
ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
    a:hover {
        color: #fff;
    }

/* ==== general styles ==== */
.btn {
    background-color: #3b55e6;
    color: #fff;
    box-sizing: border-box;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.4s;
    max-width: 200px;
}
    .btn:hover {
        background-color: #000066;
        color: #fff;
        transition: 0.4s;
    }
.btn-t {
    background-color: #fff;
    color: #000066;
    box-sizing: border-box;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.4s;
    max-width: 200px;
    border: 1px solid #000066;
}
    .btn-t:hover {
        background-color: #000066;
        color: #fff;
        transition: 0.4s;
        text-decoration: none;
    }

.text-brand {
    color: #3b55e6;
}
.bg-brand {
    background-color: #3b55e6;
}
.bg-grey {
    background-color: #f8f8f8;
}
.bg-grey-2 {
    background-color: #eae8e8;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #000;
}
.margin-auto {
    margin: 0 auto;
}
.read-more {
    color: #000066;
    font-weight: 500;
}
    .read-more:hover {
        color: #000;
    }
.st-1 {
    font-size: 3rem;
    font-weight: 600;
    color: #3b55e6;
}

.st-2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3b55e6;
}
.st-3 {
    font-size: 1.2rem;
    font-weight: 600;
}
.st-4 {
    font-size: .8rem;
    font-weight: 600;
    width: 100%;
}

.s-date {
    font-size: .7rem;
    color: #555;
    font-weight: 500;
}
.sm-t2 {
    font-size: .8rem;
    font-weight: 600;
}

@media screen and (max-width:1024px){
    .st-1 {
        font-size: 2rem;
    }
    .st-2 {
        font-size: 1.3rem;
    }
    .st-3 {
        font-size: 1.1rem;
    }
}
/* ==== */

/* ==== header ==== */
header {
    position: fixed;
    background-color: transparent;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    overflow: hidden;
    padding: 5px 0;
}
    header.fixed {
        background-color: #111;
    }
    .header-o {
        background-color: #f8f8f8;
        box-shadow: 0 2px 2px #ccc;
    }
    .mobile-header, .mb-navbar {
        transform: scale(0);
        overflow: hidden;
    }
    #logo {
        width: 20%;
    }
        #logo img {
            height: 60px;
            width: 140px;
            line-height: 70px;
        }
    nav {
        width: 50%;
        max-width: 700px;
        position: relative;
        line-height: 70px;
    }
        nav ul {
            position: absolute;
            right: 0;
        }
        nav li {
            display: inline-block;
            margin-right: 30px;
        }
            nav li:last-child {
                margin-right: 0;
            }
            nav a {
                color: #fff;
                font-weight: 500 !important;
                text-transform: uppercase;
                font-size: .8rem !important;
            }
            .nav-o a {
                color: #3b55e6;
            }
            nav .btn {
                color: #fff;
            }
    /* mobile header */
    .mobile-header {
        height: 70px;
        background-color: #f8f8f8;
        box-shadow: 0 2px 5px #ccc;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        box-sizing: border-box;
        z-index: 999;
    }
        .mobile-logo {
            width: 50%;
            height: 100%;
        }
            .mobile-logo img {
                width: 100%;
                height: 100%;
            }
        .burger {
            height: 15px;
            width: 30px;
            cursor: pointer;
        }
            .burger div {
                width: 25px;
                height: 2px;
                margin-bottom: 5px;
                background-color: #3b55e6;
            }
    .mb-navbar {
        width: 100%;
        height: 30%;
        background-color: #f8f8f8;
        z-index: 999;
        padding: 20px;
        position: fixed;
        top: 0;
        transform: translateY(-100%) !important;
        transition: 0.5s ease;
    }
        .mb-navbar.active {
            transform: translateY(0) !important;
            transition: 0.5s ease;
        }
        .close-nav-btn {
            font-size: 3rem;
            font-weight: 300;
            color: #3b55e6;
            position: absolute;
            top: 0;
            right: 20px;
            cursor: pointer;
        }
        .mb-navbar ul {
            padding: 0;
            margin: 0;
        }
        .mb-navbar li {
            list-style-type: none;
            padding: 10px 0;
        }
            .mb-navbar a {
                color: #3b55e6;
                text-decoration: none;
            }
            .mb-navbar .btn {
                color: #fff;
            }

/* ==== landing page ==== */
.lp {
    width: 100%;
    height: 80vh;
    max-height: 600px;
    position: relative;
    top: -100px;
    background-image: url('../img/home.png');
    background-position: center;
    background-size: cover;
    text-align: center;
}
    .lp-text {
        color: #fff;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        font-size: 3.5rem;
        font-weight: 600;
        width: 100%;
    }
    .lp-search {
        background-color: rgba(255,255,255,0.3);
        padding: 20px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
    }
    .lp-search-o {
        position: static;
        top: unset;
        bottom: unset;
        left: unset;
        transform: unset;
        background-color: #c3bfbf;
    }
        .lp-form {
            justify-content: space-evenly;
        }
            .lp-form input {
                width: 100%;
            }
            .lp-form input::placeholder {
                font-weight: 500;
                font-size: .9rem;
            }
            .filter-btn {
                padding: 3px 10px;
                font-size: 2rem;
                box-sizing: border-box;
                border-radius: 5px;
                font-weight: 300;
            }
@media screen and (max-width:1023px) {
    header {
        display: none;
    }
    .lp {
        height: 400px;
        padding: 150px 20px !important;
        top: 0;
    }
    .lp-text {
        position: static;
        top: unset;
        left: unset;
        transform: unset;
        font-size: 2.5rem;
    }
    .lp-search {
        display: none;
    }
    header {
        display: none;
    }
    .mobile-header, .mb-navbar {
        transform: scale(1);
        transition: 0.2s;
    }
}

/* ==== properties==== */
.properties {
    overflow: hidden;
}
    .pt-1 {
        font-weight: 600;
    }
    .moreBox, .moreBox2 {
        display: none;
    }
    .prop-card {
        height: 420px;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 1px 5px 5px #ccc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0;
        transform: scale(1);
        transition: 0.2s;
        margin-bottom: 30px;
    }
        .prop-card:hover {
            box-shadow: 5px 10px 5px #ccc;
            transform: scale(1.02);
            transition: 0.2s;
        }
        .pc-img {
            width: 100%;
            max-width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;
        }
            .pc-img img {
                height: 100%000066;
                width: 100%;
            }
            .pc-img button {
                outline: none;
                background-color: transparent;
                border: none;
                position: absolute;
                top: 50%;
                transform: tranlateY(-50%);
                z-index: 9;
            }
            .pc-img .fa {
                color: #fff;
                font-size: 1.5rem;
            }
            .prev-btn {
                left: 0;
            }
            .next-btn {
                right: 0;
            }
            .sold {
                position: absolute;
                height: 30px;
                width: 60px;
                text-align: center;
                line-height: 30px;
                font-size: .8rem;
                font-weight: 600;
                top: 0;
                right: 0;
            }
            .pc-content {
                padding: 10px;
            }
            .pc-title {
                font-size: 1rem;
                font-weight: 600;
            }
            .pc-price {
                font-size: .8rem;
                margin: 0;
                padding: 0;
            }
            .btn-pc {
                display: block;
                margin: 5px auto;
                text-align: center;
                max-width: 200px;
            }
.pd-img {
    width: 100%;
    padding: 0;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
    .pd-img img {
        height: 100%;
        width: 100%;
    }
    .pd-img button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        background-color: rgba(0,0,0,.5);
        color: #fff !important;
        border-radius: 2px;
        outline: 0;
        border: none;
    }
        .prev-pd-btn {
            left: 2%;
        }
        .next-pd-btn {
            right: 2%;
        }
    .pd-count {
        position: absolute;
        bottom: 1%;
        left: 2%;
    }
        .pd-count .fa, .pd-count span {
            color: #111;
            font-size: 1;
        }
    .pd-content {
        margin-top: 20px;
        width: 100%;
        overflow: hidden;
    }
        .pd-content div {
            max-width: 100%;
        }
        .pd-desc .st-2, .pd-desc .st-3 {
            margin-bottom: 10px !important;
        }
        .pd-desc .st-3 {
            margin-right: 10px;
        }
        .pd-desc .fa-heart-o {
            margin-left: 10px;
        }
    .price-card {
        height: 300px;
        overflow: hidden;
        padding: 0;
        box-sizing: border-box;
    }
        .prc-h {
            background-color: #3b55e6;
            text-align: center;
            color: #fff;
            padding: 10px 0;
        }
        .prc-c {
            padding: 10px 0;
            background-color: #eae8e8;
        }
            .price {
                border-bottom: 1px solid #999;
                margin-bottom: 10px;
                padding: 0 10px;
            }
/* ==== top real estate bla bla ==== */
.db-section {
    margin: 10px auto;
}
    .db-img {
        border-radius: 10px;
        box-shadow: 5px 5px 3px #ccc;
        overflow: hidden;
        padding: 0;
        transform: scale(1);
        transition: 0.3s;
    }
        .db-img:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }
        .db-img img {
            width: 100%;
        }

/* ==== services ==== */
.s-card {
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0;
    transform: scale(1);
    transition: 0.2s;
}
    .s-card:hover {
        transform: scale(1.02);
        box-shadow: 6px 6px 5px #ccc;
        transition: 0.2s;
    }
    .sc-img {
        height: 50%;
        width: 100%;
    }
        .sc-img img {
            width: 100%;
            height: 100%;
        }
    .sc-content {
        height: 50%;
        text-align: center;
        align-items: center;
        position: relative;
    }
        .sc-content p {
            position: absolute;
            top: 30%;
            transform: translateY(-50%);
            left: 50%;
            transform: translateX(-50%);
            font-weight: 600;
            width: 100%;
        }

/* ==== dropdown ==== */
.dp-1, .dp-img {
    overflow: hidden;
}
    .dp-img {
        height: 400px;
    }
        .dp-img img {
            width: 100%;
            height: 100%;
        }
    .dropdown-cont {
        position: relative;
        display: block;
    }
        .dropdown {
            display: block;
            border: 2px solid #3b55e6;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .dp-a {
            position: relative;
        }
        .dropdown a {
            color: #3b55e6;
            font-weight: 600;
        }
            .dropdown a:hover {
                text-decoration: none;
            }
        .dp-a .fa {
            position: absolute;
            right: 0;
        }
        .dp-content {
            height: 0;
            overflow: hidden;
            transition: height 0.4s ease;
        }
            .dp-content:target {
                height: auto;
                transition: 0.4s ease;;
            }

/* ==== resources ==== */
.rc-img {
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
}
    .ps-head {
        margin-bottom: 10px;
        border-bottom: 2px solid #3b55e6;
    }
    .ps-card {
        height: 150px;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        box-shadow: 3px 3px 3px #ccc;
    }
        .ps-card img {
            height: 50%;
            width: 100%;
        }
        .ps-card div {
            margin: 0;
            padding: 0 5px;
        }
        .s-date .fa-clock {
            margin-right: 5px;
        }
@media screen and (max-width:1024px) {
    .rc-img {
        height: 250px;
        margin-bottom: 20px;
    }
    .dp-img {
        display: none;
    }
}

/* ==== newsletter ==== */
.newsletter {
    height: 200px;
    padding: 20px;
    background-color: #3b55e6;
    text-align: center;
    color: #fff;
    position: relative;
}
    .nsl-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 70%;
        margin: 0;
    }
    .nsl-t, .newsletter p, .nsl-form {
        width: 90%;
        margin: 5px auto;
    }
    .nsl-form input {
        box-sizing: border-box;
        border: none;
        outline: none;
    }
        .nsl-form input[type=text]{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding: 5px 10px;
            width: 80%;
        }
        .nsl-form input::placeholder {
            font-weight: 600;
            font-size: .9rem;
        }
        .nsl-form input[type=submit]{
            background-color: transparent;
            border: 1px solid #fff;
            font-size: .9rem;
            font-weight: 600;
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 5px 20px;
            color: #fff;
        }

/* -==== about page ====- */
.abt-cont {
    margin: 20px auto;
}
    .abt-img {
        box-sizing: border-box;
        height: 400px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 2px 5px 5px #ccc;
    }
        .abt-img img {
            width: 100%;
            height: 100%;
        }
@media screen and (max-width:1024px) {
    .abt-img {
        height: 200px;
    }
}
/* ==== what we done ==== */
.ach-card {
    height: 150px;
    box-sizing: border-box;
    box-shadow: 2px 5px 5px #ccc;
    background-color: #dfd3fd;
    margin-bottom: 20px;
}
    .ach-card:hover {
        transform: scale(1.05);
        transition: transform 0.2s;
        box-shadow: 4px 5px 2px #ccc;
    }
    .ach-img {
        height: 50%;
    }

/* ==== team ==== */
.t-card {
    height: 350px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 2px 5px 5px #ccc;
    transition: 0.4s;
    text-align: center;
    padding: 0 0 10px;
    margin-bottom: 30px;
}
    .t-card:hover {
        transform: scale(1.05);
        transition: transform 0.2s;
    }
    .tc-img {
        height: 250px;
        overflow: hidden;
    }
        .tc-img img {
            height: 100%;
            width: 100%;
        }
    .t-card .st-3 {
        margin: 10px 0 0;
    }
    .tc-post {
        color: #191818;
        font-size: .9rem;
        margin: 0;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .tcs-link a {
        text-decoration: none;
        color: #3b55e6;
        margin-right: 15px;
    }
        .tcs-link a:last-child {
            margin-right: 0;
        }

/* ==== login and signup ==== */
.sf-cont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
    .signup-form {
        width: 100%;
        height: 500px;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #fff;
        border: 2px solid #ccc;
    }
    .su-fh {
        background-color: #eae8e8;
        height: 50px;
        overflow: hidden;
        box-sizing: border-box;
        text-align: center;
        position: relative;
    }
        .su-fh span {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 3rem;
            font-weight: 300;
            color: #3b55e6;
            line-height: 50px;
            cursor: pointer;
        }
        .su-fh h3 {
            margin: 0;
            line-height: 50px;
        }
    .su-fc {
        padding: 50px 80px;
        margin: 0;
        width: 100%;
    }
        .su-fc input {
            width: 100%;
            padding: 10px 5px;
            margin-bottom: 10px;
        }
        .su-fc input::placeholder {
            font-size: .9rem;
        }
        .su-fc input[type=checkbox]{
            width: unset;
            line-height: 1;
            padding: 0;
            margin: 0;
            margin-right: 5px;
        }
        .su-fc span {
            line-height: 1;
            font-size: .8rem;
            font-weight: 600;
            margin: 0;
        }
        .su-fc input[type=submit]{
            background-color: #3b55e6;
            color: #fff;
            padding: 10px 20px;
            outline: none;
            border: none;
            border-radius: 5px;
        }
        .su-fc a:hover {
            color: #000;
        }

/* ==== footer ==== */
footer {
    margin-top: 100px;
    background-color: #111;
    color: #fff;
    padding: 50px 0;
}
    .ft-t {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #666;
    }
    .ft-ql ul {
        padding: 0;
        margin: 0;
    }
        .ft-ql li {
            list-style-type: none;
        }
        .ft-ql a, footer p, footer a {
            color: #999;
            padding: 3px 0;
            text-decoration: none;
        }
            footer a:hover {
                color: #fff;
                text-decoration: none !important;
                border-bottom:  1px solid #fff;
            }
        .ft-contact .sm-t {
            display: block;
        }   
        .ft-contact a:hover {
            border: none;
        }
        .ft-contact .fa {
            margin-right: 10px;
        }
        .s-link {
            margin-top: 30px;
        }
            .s-link .fa {
                height: 50px;
                width: 50px;
                border: 1px solid #555;
                box-sizing: border-box;
                text-align: center;
                line-height: 50px;
                border-radius: 50%;
                margin-right: 20px;
            }
                .s-link .fa:hover {
                    border: 1px solid #fff;
                }
            .s-link a:hover {
                border: none;
            }

@media screen and (max-width:1024px){
    .newsletter {
        height: 300px;
        padding: 50px 10px;
    }
        .nsl-content {
            width: 95%;
            position: static;
            top: unset;
            left: unset;
            transform: unset;
        }
        .nsl-form input {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
        .nsl-form input[type=text]{
            width: 100%;
            margin-bottom: 10px;
        }
        .nsl-form input[type=submit]{
            width: 100% !important;
            border-radius: 5px;
        }
        .nsl-form .d-flex {
            flex-direction: column;
        }
}